.App{
    height: 100vh;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.books{
    display: flex;
}
.book{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    align-items: center;
}
img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    background-color: aquamarine;
}
.delete{
    border: none;
    padding: 3px 6px;
    background-color: white;
    border: 1px solid rgb(244, 189, 189);
    color: rgb(183, 77, 77);
    cursor: pointer;
}
.update{
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(134, 141, 180);
    color: rgb(111, 107, 128);
}
.form{
    display: flex;
    flex-direction: column;
    gap: 15px;

}
input{
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
}
.formButton{
    border: none;
    padding: 10px;
    background-color: rgb(181, 88, 88);
    color: white;
}